# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
/backend/media/

# Node
node_modules/
.next/

# Environment
.env
.env.*
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*

# OS
.DS_Store
Thumbs.db
